<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> cv du Candidat</title>
{% load static %}
    <link rel="shortcut icon" href="{% static 'assets/images/fav.jpg'%}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawsom-all.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css'%}" />
</head>

<body>
    <div class="container-fluid overcover">
        <div class="container profile-box">
            <div class="row top-prof">
                <div class="col-md-4 scov">
                     
                    <ul>
                        <li>
                               <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i> 
                               </div>
                               <div class="detail">
                                    hay amal ,Taza
                               </div>
                          </li>    
                               
                        <li>
                           <div class="icon">
                                    <i class="fas fa-mobile-alt"></i> 
                               </div>
                               <div class="detail">
                                   
                                    +212 06123456
                               </div>
                           </li>
                        <li>
                         <div class="icon">
                                   <i class="far fa-envelope"></i>
                               </div>
                               <div class="detail">
                                    Nihalt@gmail.com
                               </div>
                         </li>
                        <li>
                        <div class="icon">
                                   <i class="fas fa-globe-americas"></i>
                               </div>
                               <div class="detail">
                                   
                                    www.devsocite.com
                               </div>
                           </li>
                        
                    </ul>
                      <div class="styl-bb"></div>
                </div>
                <div class="col-md-8">
                    <div class="row profile-go">
                        <div class="col-md-4">
                            <img src="{% static 'assets/images/profile.jpg'%}" alt="">
                        </div>
                        <div class="col-md-8 datadiv">
                            <h2>Akerdad Nihal / Architect reseau</h2>
                            <p>blah blah</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row more-detail">
                <div class="col-md-5">
                    <div class="education">
                        <h3><i class="fas fa-user-graduate"></i> Education </h3>
                        <ul>
                            <li><b>doctorat en informatique</b>
                            <p>faculté de TAZA</p>
                            <span>2019 - aujourd'hui</span>
                            </li>
                            <li><b>Master </b>
                            <p>ENSA tangery</p>
                            <span>2017 - 2019</span>
                            </li>
                            <li><b>License</b>
                            <p>FP TAZA</p>
                            <span>2014 - 2017</span>
                            </li>
                            <li><b>baccaleaureat</b>
                            <p>ecole</p>
                            <span>2012 - 2013</span>
                            </li>
                            
                            
                        </ul>
                    </div>
                    <div class="education">
                        <h3><i class="fas fa-briefcase"></i> Experiance professionnelle</h3>
                        <ul>
                            <li><b>Diamond Internationals</b>
                            <p>Lorem Ipsum is simply dummy text</p>
                            <span>2016 - 2016</span>
                            </li>
                            <li><b>Fransis Enterpraises</b>
                            <p>make a type specimen book. </p>
                            <span>2016 - 2017</span>
                            </li>
                            <li><b>Smateye Technologies</b>
                            <p>It has survived not only five</p>
                            <span>2018 - 2019</span>
                            </li>
                            <li><b>Freelancer Designer</b>
                            <p>ever since the 1500s, when an unknown</p>
                            <span>2018 - 2019</span>
                            </li>
                        </ul>
                    </div>
                    <div class="education personal">
                        <h3><i class="fas fa-user"></i>  Details personnels</h3>
                        
                        <div class="row bd-ro">
                            <div class="col-sm-5">
                                Date de naissance
                                <span>:</span>
                            </div>
                            <div class="col-sm-7">
                                03-04-1998
                            </div>
                        </div>
                        <div class="row bd-ro">
                            <div class="col-sm-5">
                               Nationalité
                                <span>:</span>
                            </div>
                            <div class="col-sm-7">
                               Marocaine
                            </div>
                        </div>
                        <div class="row bd-ro">
                            <div class="col-sm-5">
                              Religion
                                <span>:</span>
                            </div>
                            <div class="col-sm-7">
                                musulmane
                            </div>
                        </div>
                        <div class="row bd-ro">
                            <div class="col-sm-5">
                                groupe sangin
                                <span>:</span>
                            </div>
                            <div class="col-sm-7">
                                AB-
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                     <div class="education">
                        <h3><i class="far fa-object-ungroup"></i> les aquis professionnel</h3>
                        <div class="profess-cover">
                                            <div class="row prog-row">
                                                <div class="col-sm-6">
                                                    Photoshop
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
                                                </div>
                                            </div>
                                            <div class="row prog-row">
                                                <div class="col-sm-6">
                                                    PHP
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
                                                </div>
                                            </div>
                                            <div class="row prog-row">
                                                <div class="col-sm-6">
                                                    Web Design
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
                                                </div>
                                            </div>
                                            <div class="row prog-row">
                                                <div class="col-sm-6">
                                                    Web Development
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
                                                </div>
                                            </div>
                                        </div>
                    </div>
                    <div class="education">
                        <h3><i class="fas fa-pen-fancy"></i>Soft Skills</h3>
                        <div class="profess-cover">
                                            <div class="row prog-row">
                                                <div class="col-sm-6">
                                                    créativité
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
                                                </div>
                                            </div>
                                            <div class="row prog-row">
                                                <div class="col-sm-6">
                                                    Communication
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
                                                </div>
                                            </div>
                                            <div class="row prog-row">
                                                <div class="col-sm-6">
                                                    Travail  de groupe
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
                                                </div>
                                            </div>
                                            <div class="row prog-row">
                                                <div class="col-sm-6">
                                                    Perfection
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
                                                </div>
                                            </div>
                                        </div>
                    </div>
                    <div class="education row no-margin activity">
                        <h3><i class="far fa-object-ungroup"></i> Activites / Interests</h3>
                        <ul>
                            <li>Designing</li>
                            <li>la marche</li>
                            <li>Basket</li>
                            <li>lecture</li>
                            <li>voyage</li>
                            <li>Photography</li>
                            <li>Musics</li>
                            <li>Football</li>
                            
                        </ul>
                    </div>
                    <div class="education aars">
                        <h3><i class="fas fa-trophy"></i> Awards</h3>
                        <ul>
                            <li><b>Best Graphic Designer</b>
                            <p>University of California</p>
                            <span>2014 - 2015</span>
                            </li>
                            <li><b>Best Web Designer</b>
                            <p>University of California</p>
                            <span>2013 - 2015</span>
                            </li>
                            <li><b>Crative Designerr</b>
                            <p>CSI Institute of Technology</p>
                            <span>2012 - 2012</span>
                            </li>
                            <li><b>Creative Programer</b>
                            <p>Cambrigd University</p>
                            <span>2010 - 2011</span>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</body>

<script src="{% static 'assets/js/jquery-3.2.1.min.js '%}"></script>
<script src="{% static 'assets/js/popper.min.js '%}"></script>
<script src="{% static 'assets/js/bootstrap.min.js '%}"></script>
<script src="{% static 'assets/js/script.js '%}"></script>


</html>