
<!doctype html>
<html lang="fr">
  <head>
    <title>Ingénieur Full Stack Software</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/custom-bs.css'%}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css'%}">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">
    <link rel="stylesheet" href="{% static 'fonts/line-icons/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css'%}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
  </head>
  <body id="top">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6"><a href="/">MCCJOB</a></div>

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
              <li><a href="/" class="nav-link ">Accueil</a></li>

              <li><a href="/postuler" >Ajouter une offre</a></li>

              {% if user.is_authenticated %}
              <li class="has-children">
              <a href="#" >Profil</a>
                <ul class="dropdown">
                  <li><a href="/Profile/" >Mon Compte</a></li>
                  <li><a href="/accounts/logout">Logout</a></li>
                </ul>
                <li><a href="/Offers" >Offres</a></li>
              </li>
              {% else %}
              <li><a href="/accounts/login/">Login</a></li>
              <li><a href="/accounts/Signup/">SignUp</a></li>
              {% endif %}

              <li><a href="/about" >A propos</a></li>
              <li><a href="/ContactUs">Contact</a></li>

            </ul>
          </nav>


        </div>
      </div>
    </header>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static 'images/hero_1.jpg'%}');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Full Stack Software Engineer / Programmer / Web Developer</h1>
            <div class="custom-breadcrumbs">
              <a href="#">Accueil</a> <span class="mx-2 slash">/</span>
              <a href="#">Emploi</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Full Stack Software Engineer / Programmer / Web Developer</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="site-section">
      <div class="container">
        <div class="row align-items-center mb-5">
          <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="d-flex align-items-center">
              <div class="border p-2 d-inline-block mr-3 rounded">
                <img src="https://coda.newjobs.com/api/imagesproxy/ms/clu/xrss/xrssmx/branding/21789/reed-smith-llp-logo.png" alt="Image">
              </div>
              <div>
                <h2>Full Stack Software Engineer / Programmer / Web Developer</h2>
                <div>
                  <span class="ml-0 mr-2 mb-2"><span class="icon-briefcase mr-2"></span>ReedSmith</span>
                  <span class="m-2"><span class="icon-room mr-2"></span>Casablanca</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-6">
                <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-heart-o mr-2 text-danger"></span>Enregistrer</a>
              </div>
               <div class="col-6">
               <a href="#" class="btn btn-block btn-primary btn-md" onclick="validation();">Postuler</a>
              </div>
              <script type="text/javascript">
                function validation()
                {
                  swal({
                      title: "votre demande est faite!",
                      text: "Merci!",
                      icon: "success",
                      button: "confirmer!",
                    });
                }
              </script>
            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="mb-5">
              <figure class="mb-5"><img src="{% static 'images/1.jpg'%}" alt="Image" class="img-fluid rounded"></figure>
              <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Job Description</h3>
              <p> Grâce à un positionnement unique, alliant Expertises Métier & Technologique, ReedSmith, filiale du groupe TENOR, offre à ses collaborateurs l’opportunité de contribuer à la transformation du cœur de métier de grandes entreprises, focalisant leur valeur ajoutée sur le Digital.

Les métiers de l'ITO est un métier passionnant qui nous amène à travailler depuis plus de 10 années en proximité avec de nombreuses entreprises européennes de renom. Pour réaliser leur transformation et adresser la complexité croissante des systèmes d'informations, nos clients ont besoin d'un accompagnement technique adapté à leur secteur d'activité.
.</p>
              <p> Rejoindre ReedSmith, c’est faire partie d’un groupe de plus de 600 collaborateurs et rejoindre un acteur stratégique des transformations digitales grâce à l’engagement de ses équipes. Dès le premier jour vous serez accompagné, responsabilisé et challengé sur des projets de grande envergure. Nous vous donnerons la possibilité de capitaliser sur votre formation et vos expériences pour vous projeter dans une évolution de votre carrière au sein de ReedSmith.</p>
            </div>
            <div class="mb-5">
              <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-rocket mr-3"></span>Responsibilités</h3>
              <ul class="list-unstyled m-0 p-0">
              <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Analyse des besoins,</span></li>
<li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Participation à la conception,</span></li>
<li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Spécifications techniques et/ou fonctionnelles,</span></li>
<li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Développement de nouvelles solutions complexes en JAVA/J2EE,</span></li>
<li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Evolution et maintenabilité du code,</span></li>
<li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>tests.</span></li>
                </ul>
            </div>

            <div class="mb-5">
              <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-book mr-3"></span>Education + Experience</h3>
              <ul class="list-unstyled m-0 p-0">
  <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>     De formation Bac+4/5 en informatique.</span></li>
  <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Une expérience de 4 ans minimum sur un environnement JAVA/J2EE..</span></li>
  <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Expérience d'au moins 6 mois sur le Framework JS ( AngularJS, React, Ember).</span></li>
  <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Frameworks associés du type Struts, Spring, Hibernate,Maven.</span></li>
                    </ul>
            </div>

            <div class="mb-5">
              <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-turned_in mr-3"></span>Autres</h3>
              <ul class="list-unstyled m-0 p-0">
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span> souple</span></li>
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>en capacité d'identifier les solutions techniques appropriées.</span></li>
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>créatif(ve)</span></li>
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>Polyvalent </span></li>
                <li class="d-flex align-items-start mb-2"><span class="icon-check_circle mr-2 text-muted"></span><span>bonnes capacités d'adaptation pour répondre aux demandes des clients dans le respect des normes de développement.</span></li>
              </ul>
            </div>

            <div class="row mb-5">
              <div class="col-6">
                <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-heart-o mr-2 text-danger"></span>Enregistrer</a>
              </div>
              <div class="col-6">
                <a href="#" class="btn btn-block btn-primary btn-md">Postuler</a>
              </div>
            </div>

          </div>
          <div class="col-lg-4">
            <div class="bg-light p-3 border rounded mb-4">
              <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Emploi</h3>
              <ul class="list-unstyled pl-3 mb-0">
                <li class="mb-2"><strong class="text-black">Publié le:</strong> ajourd'hui</li>
                <li class="mb-2"><strong class="text-black">Vacance:</strong> 30</li>
                <li class="mb-2"><strong class="text-black">Experience:</strong>4 ans</li>
                <li class="mb-2"><strong class="text-black">localisation Job :</strong>Casablanca</li>
                <li class="mb-2"><strong class="text-black">Sexe:</strong> F/M</li>
                <li class="mb-2"><strong class="text-black"> Deadline:</strong> April 28, 2020</li>
              </ul>
            </div>

            <div class="bg-light p-3 border rounded">
              <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Partager</h3>
              <div class="px-3">
                <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-facebook"></span></a>
                <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-twitter"></span></a>
                <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-linkedin"></span></a>
                <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-pinterest"></span></a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

   <footer class="site-footer">

          <a href="#top" class="smoothscroll scroll-top">
            <span class="icon-keyboard_arrow_up"></span>
          </a>
          <div class="container">
              <div class="col-12 text-center">
                <h3>Meilleur portail de recrutement marocain, qui vous donne la chance de postuler au <h5>JOB DE REVE </h5></h3>
            </div>

            <div class="row text-center">
              <div class="col-12">
                <p class="copyright"><small>
                Copyright &copy; All rights reserved  <i class=" text-danger" aria-hidden="true"></i> by <a href="" target="_blank" >MCC</a>
                </small></p>
              </div>
            </div>
          </div>
        </footer>

          </div>
          <!-- SCRIPTS -->
          <script src="{% static 'js/jquery.min.js'%}"></script>
          <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
          <script src="{% static 'js/isotope.pkgd.min.js'%}"></script>
          <script src="{% static 'js/stickyfill.min.js'%}"></script>
          <script src="{% static 'js/jquery.fancybox.min.js'%}"></script>
          <script src="{% static 'js/jquery.easing.1.3.js'%}"></script>

          <script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
          <script src="{% static 'js/jquery.animateNumber.min.js'%}"></script>
          <script src="{% static 'js/owl.carousel.min.js'%}"></script>

          <script src="{% static 'js/bootstrap-select.min.js'%}"></script>

          <script src="{% static 'js/custom.js'%}"></script>


        </body>
        </html>
