<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link  rel="stylesheet" type="text/css"  href="css/all.css" >
    <style media="screen">

    #bg {
      height: 270px;
      background-image: url("img/C.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    </style>
  </head>
  <body>
    <!-- Navigation -->
    <nav style="color: #FFF" class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> <img src="img/logo1.png" style="height: 50px;width: : 60px" alt=""> </a>
    <button type="button" name="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
    <a href="#" class="nav-link">HOME</a>
        </li>  <li class="nav-item">
      <a href="#" class="nav-link">sign up</a>
          </li>  <li class="nav-item">
        <a href="#" class="nav-link">sign in</a>
            </li>  <li class="nav-item">
          <a href="#" class="nav-link">employeur</a>
              </li>
      </ul>

    </div>
      </div>
    </nav>

    <!-- Jumbotron -->
    <div id="bg" class="jumbotron ">
      <div class="text-uppercase text-center" >
        <h2 style="color: white">Senior Data Analyst - Data Analyst, Python, SAS</h2>
        <h5 style="color: white">AT CyberCoders</h5>
        <h5 style="color: white">Casablanca,MA</h5>
      </div>
    </div>


<div class="container">

<div class="row ">
  <div class="col-sm-8">
    <p class="font-weight-bold text-uppercase">Category:<span>Data Analyst</span></p>
    <h6>Date: <span>20/02/2020</span></h6>

    <h6>About the Job:</h6>
    <p>If you are a Data Analyst with a minimum of 3-5 years of healthcare IT experience, please read on! We are a world-renown medical facility located in Boston, Massachusetts. As one of the largest research-based medical facilities in the world, we pride ourselves on providing exceptional care to our patients, and work diligently to tackle the worlds leading medical diseases that have yet to find a cure. Millions of dollars are allotted each year to various teams throughout our facility, employing thousands of researchers. Our main goal is to provide exceptional healthcare to patients in the most time efficient manner possible.</p>
    <h6>What You Will Be Doing:</h6>
<p>*This position requires days on-site at both main facility and sister facility, so traveling back and forth is required*
</p>
<p>-Obtain data from hospital staff through interviews, workshops, document analysis, site visits, data and workflow analysis
</p><p>-Understand data and end user workflow in order to validate accurate results and fix discrepancies when necessary
</p><p>-Use tools to meet the end users data and reporting needs through Radar, Reporting Workbench, Clarity and Caboodle
</p><p>-Performs data querying and adhoc analysis against hospital electronic medical record systems
</p><p>-Present data and analyses to stakeholder groups as requested
</p><p>-Create materials and give presentations as needed
</p><p>-Works with ARI staff in maintenance and design, as well as distribution of reports
</p><p>-Perform quality assurance as needed
</p><p>-Work with new and existing ARI analysts to share data and findings
</p><p>-Trains other analysts and users on databases and reporting systems
</p><p>-Perform data cleansing and data entry tasks as necessary</p>
<p>-Running small to medium projects to keep project timelines on track
</p>    <h6>What You Need for this Position:</h6>
      <p>Bachelors degree in Management, Information systems, statistics or relevant field</p>
<p>-Minimum 3-5 years of experience in Healthcare IT or hospital setting
</p>
<p>-Working knowledge of SQL and other business intelligence tools (Tableau, Business objects, SAS BI)
</p>
<p>-Strong working knowledge of Epic data and workflows
</p>
<p>-Experience with data manipulation and analysis tools (SAS, R, Python, Power BI, and others)
</p>
<p>-Strong proficiency with excel in order to compile large data sets
</p>
   <h6>What's In It for You:</h6>
      <p>-$65-95k base salary DOE</p>
<p>-Benefits
</p>
<p>-Vacation
</p>
<p>-Working at a world-renown organization
</p>
<p>-Low-stress environment
</p><p>So, if you are a Senior Data Analyst with 3-5 years relevant experience, please apply today!</p>

<p>Security Clearance will be needed - therefore, only US citizens can be considered.</p>




  <button type="button" class="btn center btn-outline-danger " style="margin-left:35%;margin-bottom:2%" name="button">Save</button>
 </div>
  <div class="col-sm-4">
    <p class="font-weight-bold text-uppercase">Profile Skills:</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

  </div>
</div>






</div>



















        <!--- Footer -->
        <footer>
        <div class="container-fluid padding">
        	<div class="row text-center">
        <div class="col-md-4">
        	<hr class="light">
        <img src="img/logo1.png" style="height: 50px;width: : 60px" alt="">
        	<hr class="light">
        	<p>+212654873246</p>
        	<p>Test@test.com</p>
        	<p>23 Rue airfan 1</p>
        	<p>Tanger , Maroc</p>

        </div>
        <div class="col-md-4">
        	<hr class="light">
        	<h5>Our Site :</h5>
        	<hr class="light">
        	<p>Lorem Ipsum is simply dummy text </p>
        	<p>Lorem Ipsum is simply dummy text </p>
        	<p>Lorem Ipsum is simply dummy text </p>
        </div>
        <div class="col-md-4">
        	<hr class="light">
        	<h5>Our Site :</h5>
        	<hr class="light">
        	<p>Lorem Ipsum is simply dummy text </p>
        	<p>Lorem Ipsum is simply dummy text </p>
        	<p>Lorem Ipsum is simply dummy text </p>
        </div>

        <div class="col-12">
        	<hr class="light">
        	<h5>&copy; MCSCC</h5>
        </div>
        	</div>
        </div>


        </footer>
      </body>
    </html>
