
<!doctype html>
<html lang="fr">
  <head>
    <title>MCCJob </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}


        <link rel="stylesheet" href="{% static 'css/custom-bs.css'%}">
        <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css'%}">
        <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">
        <link rel="stylesheet" href="{% static 'fonts/line-icons/style.css'%}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/quill.snow.css'%}">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
  </head>
  <body id="top">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->



        <!-- NAVBAR -->
        <header class="site-navbar mt-3">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="site-logo col-6"><a href="/">MCCJOB</a></div>

              <nav class="mx-auto site-navigation">
                <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                  <li><a href="/" class="nav-link ">Accueil</a></li>

                  <li><a href="/postuler" class="active">Ajouter une offre</a></li>

                  {% if user.is_authenticated %}
                  <li class="has-children">
                  <a href="#" >Profil</a>
                    <ul class="dropdown">
                      <li><a href="/Profile/" >Mon Compte</a></li>
                      <li><a href="/accounts/logout">Logout</a></li>
                    </ul>
                    <li><a href="/Offers" >Offres</a></li>
                  </li>
                	{% else %}
                  <li><a href="/accounts/login/">Login</a></li>
                  <li><a href="/accounts/Signup/">SignUp</a></li>
                	{% endif %}

                  <li><a href="/about" >A propos</a></li>
                  <li><a href="/ContactUs">Contact</a></li>

                </ul>
              </nav>


            </div>
          </div>
        </header>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static 'images/hero_1.jpg'%}');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Ajouter une offre</h1>
            <div class="custom-breadcrumbs">
              <a href="#">Accueil</a> <span class="mx-2 slash">/</span>
              <a href="#">offre</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Ajouter une offre</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="site-section">
      <div class="container">

        <div class="row align-items-center mb-5">
          <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="d-flex align-items-center">
              <div>
                <h2>Ajouter une offre</h2>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-6">
              </div>
              <div class="col-6">
                <a href="#" class="btn btn-block btn-primary btn-md">Enregistrer l'offre</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-12">
            <form class="p-4 p-md-5 border rounded" action="#" method="post">
              <h3 class="text-black mb-5 border-bottom pb-2">Description de l'offre</h3>

              <div class="form-group">
                <label for="company-website-tw d-block">Télécharger une image</label> <br>
                <label class="btn btn-primary btn-md btn-file">
                 choisir un fichier<input type="file" hidden>
                </label>
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="you@yourdomain.com">
              </div>
              <div class="form-group">
                <label for="job-title">Titre</label>
                <input type="text" class="form-control" name="title" id="job-title" placeholder="Product Designer">
              </div>
              <div class="form-group">
                <label for="job-location">Localisation</label>
                <input type="text" class="form-control" name="ville" id="job-location" placeholder="Casablanca">
              </div>

              <div class="form-group">
                <label for="job-region"> ville</label>
                <select class="selectpicker border rounded" id="job-region" data-style="btn-black" data-width="100%" data-live-search="true" title="Select Region">
                      <option>Anywhere</option>
                      <option>Casablanca</option>
                      <option>Rabat</option>
                      <option>Tanger</option>
                      <option>Kenitra</option>
                      <option>El jdida</option>
                      <option>Meknes</option>
                    </select>
              </div>




              <div class="form-group">
                <label for="job-description">Description du poste</label>
                <div class="editor" id="editor-1">
                  <p> Description du poste!</p>
                </div>
              </div>


              <h3 class="text-black my-5 border-bottom pb-2">Entreprise</h3>
              <div class="form-group">
                <label for="company-name">Nom Entreprise </label>
                <input type="text" class="form-control" name="NEntre" id="company-name" placeholder=" ">
              </div>

              <div class="form-group">
                <label for="company-tagline">Ville Entreprise</label>
                <input type="text" class="form-control" name="VEntre" id="company-tagline" placeholder="exemple Casablanca">
              </div>

              <div class="form-group">
                <label for="job-description">Description Entreprise (Optional)</label>
                <div class="editor" id="editor-2">
                  <p>Description</p>
                </div>
              </div>

              <div class="form-group">
                <label for="company-website">siteweb (Optional)</label>
                <input type="text" class="form-control" name="SEntre" id="company-website" placeholder="https://">
              </div>

              <div class="form-group">
                <label for="company-website-tw d-block">Upload Logo</label> <br>
                <label class="btn btn-primary btn-md btn-file">
                  Browse File<input type="file" hidden>
                </label>
              </div>
              <div class="row align-items-center mb-5">
                <div class="col-lg-4 ml-auto">
                  <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                      <a  type="Submit" class="btn btn-block btn-primary btn-md">Sauvgarder</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>


        </div>

      </div>
    </section>




            <footer class="site-footer">

              <a href="#top" class="smoothscroll scroll-top">
                <span class="icon-keyboard_arrow_up"></span>
              </a>
              <div class="container">
                  <div class="col-12 text-center">
                    <h3>Meilleur portail de recrutement marocain, qui vous donne la chance de postuler au <h5>JOB DE REVE </h5></h3>
                </div>

                <div class="row text-center">
                  <div class="col-12">
                    <p class="copyright"><small>
                    Copyright &copy; All rights reserved  <i class=" text-danger" aria-hidden="true"></i> by <a href="" target="_blank" >MCC</a>
                    </small></p>
                  </div>
                </div>
              </div>
            </footer>

  </div>

    <!-- SCRIPTS -->
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js'%}"></script>
    <script src="{% static 'js/stickyfill.min.js'%}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js'%}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js'%}"></script>

    <script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
    <script src="{% static 'js/jquery.animateNumber.min.js'%}"></script>
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/quill.min.js'%}"></script>


    <script src="{% static 'js/bootstrap-select.min.js'%}"></script>

    <script src="{% static 'js/custom.js'%}"></script>



  </body>
</html>
